body{
    font-family: "Segoe UI", sans-serif;
}

.titulo{
    color: #d48daa;
    font-weight: 600;
    font-size: 2rem ;
}


.info-box {
    background: #e9bcd2;
    border-radius: 5rem;
    padding: 1.2rem 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    color: #333;
}

.label {
    display: block;
    font-size: 0.9rem;
    color: #6a6a6a;
}

.value{
    font-weight: 600;
    font-size: 1.1rem;
    color: #000;
}
