
/*HEADER*/
.imagenfuera {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.imagen {
    object-fit: cover; /* La imagen cubre todo el contenedor */
    width: 100%;
    height: 650px;
    filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.307);
}

.textoimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 15px 3px 3px 15px rgb(0, 0, 0, 1.5);
    text-align: center;
}

.titulo-grande {
    font-size: 60px;
}

/*Menu desplegable izquierdo*/

.button_menu_desplegable {
    display: flex !important;
    flex-direction: column !important;
    width: 3rem !important;
    height: 3rem !important;
    background: transparent !important;
    gap: .65rem !important;
    border: none !important;
    cursor: pointer !important;
}

.button_menu_desplegable > div {
    background: black !important;
    height: 2px !important;
    width: 100% !important;
    border-radius: 5px !important;
    transition: all .5s !important;
    transform-origin: left !important;
}

.button_menu_desplegable:hover div:first-child {
    transform: rotate(45deg) !important;
}

.button_menu_desplegable:hover div:nth-child(2) {
    opacity: 0 !important;
}

.button_menu_desplegable:hover div:last-child {
    transform: rotate(-45deg) !important;
}

.boton_menu {
    background-color: #E0B5C6 !important;
    color: white !important;
    width: 13% !important;
}

/*MAIN*/

main {
    padding-top: 20px;
}

.texto {

    text-align: center;
}

.negros {

    font-size: 18px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.buttonbox {
    text-align: center;
}

.button-menu {
    background-color: #E0B5C6;
    border: none;
}

.button-menu-oscuro {
    background-color: #D7C66B !important;
    border: none;
}


.footer-claro {
    background-color: #E7C3D5;
    font-size: 14px;
}

.iconos_footer {
    filter: invert(1);
}

.footer-oscuro {
    background-color: #2E2D45 !important;
    font-size: 14px;
    color: white;
}

/*PÁGINA MENÚ*/

/*Comienzo titulo menu */
.cabecera_menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.presentacion {
    flex-direction: column;
    justify-content: left;
    margin-top: 3%;
    margin-left: 5%;
}

.caja_boton_carrito {
    justify-content: right;
    flex-direction: row-reverse;
    margin-top: 3%;
    margin-right: 5%;
}

.boton_carrito {
    display: flex;
    justify-content: center;
    background-color: #E0B5C6;
    border-radius: 100%;
    border: none;
    padding: 30px;
    overflow: hidden;
    transition: transform 0.5s;
}

.boton_carrito:hover {
    display: flex;
    justify-content: center;
    background-color: #E0B5C6;
    border-radius: 100%;
    border: none;
    padding: 30px;
    box-shadow: 2px 2px 2px black;
    transform: translate(-3px, -3px);
    cursor: pointer;
}

.icono_carro {
    color: white;
}

.contenedor_carrousel {
    width: 65vw;
    margin: 8% auto;
}


/* fin titulo menu */

/* comienzo barra navegacion menu */

.caja_barra_navegacion {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.barra_navegacion {
    border: 1px solid black;
    padding: 15px;
    box-shadow: 2px 2px 2px black;
}

.botones_barra_navegacion {
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    overflow: hidden;
    transition: transform 0.5s;
}

.botones_barra_navegacion:hover {
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    transform: translateY(-3px);
    cursor: pointer;
}

/* Comienzo contenido menu */

.titulo_contenido_menu {
    margin-left: 5%;
}

/*ESTA PARTE ES DEL REGISTRO*/
.login-container {
    background-color: whitesmoke;
    color: black;
    padding: 30px;
    border-radius: 10px;
    border: 2pt solid #B17A90;
    max-width: 650px;
    margin: 100px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.btn {
    background-color: #E0B5C6;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

.login-container a {
    color: #B17A90;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/*ESTA PARTE ES LA DE INICIO DE SESION*/
.form-container {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    border: 2pt solid #B17A90;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 50px auto;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.caract {
    color: gray;
}

.registro {
    color: #B17A90;
}

/*ESTA PARTE ES DE TU PEDIDO*/

.login-container1 {
    background-color: whitesmoke;
    color: black;
    padding: 30px;
    border-radius: 10px;
    border: 2pt solid #B17A90;
    max-width: 750px;
    margin: 100px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

