*{
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
    color: #FFFFFF;
}
body{
    background-color: antiquewhite;
    font-size: 14px;
}
nav{
    background-color: #FFEBF3;
    background-image: url("../img/sakura.png");
}
.botones{
  transition: 0.3s;
}
.redondes{
    background-color: #E0B5C6;
    border-radius: 90px;
    margin-left: 15px;
}

nav{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 60px;
}
