/* Estilos para todos los inputs del formulario */

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para los inputs cuando están en foco */

.form-container input:focus {
    border-color: #B17A90;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para los inputs del formulario de login */

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-container input:focus {
    border-color: #B17A90;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón */

.btn-custom {
    background-color: #B17A90;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #B17A90;
}

/* Alinea los labels a la izquierda y añade margen si es necesario */

.form-label {
    text-align: left !important;
    display: block;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.form-text {
    display: block;
    margin-top: 0.25rem;
    color: #6c757d;
}

.card{
  background-color: #dcaac2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
