{% load static %}

{% block header %}

    <footer id="footer" class="footer-claro">
        <div class="container">
            <div class="row text-center text-start p-4">

                <!-- Columna: Nuestros hoteles -->

                <div class="col-12 col-md-4 mb-3">
                    <p class="sobre-p h4 mb-3 fw-bold">Horarios</p>
                    <ul class="list-unstyled">
                        <li>Lunes a Viernes:</li>
                        <li>12:00 - 23:00</li>
                        <li>Sábados y Domingos:</li>
                        <li>13:00 - 00:00</li>
                    </ul>
                </div>

                <!-- Columna: Sobre nosotros -->

                <div class="col-12 col-md-4 mb-3">
                    <p class="sobre-p h4 mb-3 fw-bold">Contáctanos</p>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-start mb-2">
                            <img src="{% static 'img/ubicacion.png' %}" alt="Ubicación" width="20" class="me-2">
                            Calle Principal 123, Ciudad Código Postal 28001
                        </li>
                        <li class="d-flex align-items-start mb-2">
                            <img src="{% static 'img/telefono.png' %}" alt="Teléfono" width="20" class="me-2">
                            Teléfono: (+34) 123456789
                        </li>
                        <li class="d-flex align-items-start">
                            <img src="{% static 'img/nuevo-correo-electronico.png' %}" alt="Email" width="20"
                                 class="me-2">
                            Email: info@umamihouse.com
                        </li>
                    </ul>
                </div>

                <!-- Columna: ¿Dudas? Contáctanos -->

                <div class="col-12 col-md-4 mb-3">
                    <p class="sobre-p h4 mb-3 fw-bold">Nuestras Redes</p>
                    <img src="{% static 'img/facebook.png' %}" width="50" height="50" class="iconos_footer">
                    <img src="{% static 'img/icons8-instagram-50.png' %}" width="60" height="60" class="m-1 iconos_footer">
                    <img src="{% static 'img/medios-de-comunicacion-social.png' %}" width="55" height="55" class="m-1 iconos_footer">
                </div>
            </div>
        </div>

    </footer>
{% endblock %}