<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/pagina_principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Menu</title>
</head>
<body>
{% include "navbar.html" %}
<div class="login-container">
    <h2>Inicia sesión</h2>
    <p>Inicia sesión y disfruta de las ventajas de Umami House</p>
    <form>
        <!-- Campo de email -->
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="E-mail">
        </div>
        <!-- Campo de contraseña -->
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
        </div>
        <!-- Botón de inicio de sesión -->
        <button type="submit" class="btn btn-custom px-4 py-2">Iniciar sesión</button>
    </form>
    <!-- Enlace para crear cuenta -->
    <p class="mt-3">¿Todavía no tienes cuenta? <a href=""> Registrate aquí</a></p>
</div>
{% include "footer.html" %}
</body>
</html>