<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mis pedidos</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro_y_inicio_de_sesion.css' %}">
</head>
<body>
{% include "navbar.html" %}
<div>
    <h2 class="form-title">Mis pedidos</h2>

    {% for pedido in pedidos %}
        <div class="card">
            <strong>Código:</strong> {{ pedido.codigo }}<br>
            <strong>Fecha:</strong> {{ pedido.fecha }}<br>
            <strong>Platos:</strong>
            <ul>
                {% for linea in pedido.pedidolinea_set.all %}
                    <li>
                        {{ linea.plato.nombre }} X{{ linea.cantidad }} - Precio: {{ linea.precio_unitario }}€
                    </li>
                {% endfor %}
            </ul>
            <strong>Total:</strong>
            {{ pedido.get_total }}€
        </div>
    {% endfor %}

</div>
</body>
</html>
