<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Mis pedidos</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
{% include "navbar.html" %}
<h2>Mis pedidos</h2>
{% if pedidos %}
    <ul>
        {% for pedido in pedidos %}
        <li>
            <strong>Código:</strong> {{pedido.id}}
        </li>
            <li>
                <strong>Código:</strong> {{ pedido.id }}
                <br>
                <strong>Fecha:</strong> {{ pedido.fecha }}
                <br>
                <strong>Total:</strong> {{ pedido.total }}

                <ul>
                    {% for linea in pedido.pedidolinea_set.all %}
                        <li>
                            {{ linea.plato.nombre }} X{{ linea.cantidad }} -Precio: {{ linea.precio }}€
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay pedidos anteriores.</p>
{% endif %}
</body>
</html>