<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mis pedidos</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro_y_inicio_de_sesion.css' %}">
</head>
<body>
{% include "navbar.html" %}
<div >
    <h2 class="form-title">Mis pedidos</h2>

    {% if pedidos %}

        {% for item in pedidos %}
            <div class="card">

                <strong>Código:</strong> {{ item.pedido.codigo }}
                <br>
                <strong>Fecha:</strong> {{ item.pedido.fecha }}
                <strong>Platos:</strong>
                <ul>
                    {% for linea in item.pedido.pedidolinea_set.all %}
                        <li>
                            {{ linea.plato.nombre }} X{{ linea.cantidad }} - Precio: {{ linea.precio_unitario }}€
                        </li>
                    {% endfor %}
                </ul>
                <strong>Total:</strong> {{ item.total }}€

            </div>
        {% endfor %}

    {% else %}
        <p>No hay pedidos anteriores.</p>
    {% endif %}
</div>
</body>
</html>
