{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar plato</title>
    <link rel="stylesheet" href="{% static 'css/pagina_principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro_y_inicio_de_sesion.css' %}">
    <link rel="icon" href="{% static 'img/Umami_house_logo.png' %}" type="image/x-icon">
    {% load widget_tweaks %}
</head>
<body>
{% include "navbar.html" %}
{% block content %}


    {% csrf_token %}
    <div class="form-container">
        <h2 class="form-title">Modificar Plato</h2>
        <p class="form-subtitle">Rellena los campos para agregar un plato al menú</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                {{ form.nombre.label_tag }}
                {{ form.nombre|add_class:"form-control" }}
            </div>

            <div class="form-group">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion|add_class:"form-control" }}
            </div>

            <div class="form-group">
                {{ form.precio.label_tag }}
                {{ form.precio|add_class:"form-control" }}
            </div>

            <div class="form-group">
                {{ form.imagen.label_tag }}
                {{ form.imagen|add_class:"form-control" }}
            </div>

            <div class="form-group">
                {{ form.tipo_plato.label_tag }}
                {{ form.tipo_plato|add_class:"form-control" }}
            </div>

            <div style="text-align: center;">
                <button type="submit" class="form-submit-button btn-custom my-3">Guardar Plato</button>
            </div>

            {% if error %}
                <div class="form-error">{{ error }}</div>
            {% endif %}
        </form>
    </div>

{% endblock %}
{% include "footer.html" %}
</body>
</html>