<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/pagina_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Menu</title>
</head>
<body>
{% include "navbar.html" %}
<div class="cabecera_menu">
    <div class="presentacion">
        <h1>Carta actual</h1>
        <button class="anyadir_plato" onclick="location.href='{% url 'crear_plato' %}'">Añadir plato</button>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center gx-4 gy-4">

        <!-- Tarjeta 1 -->
        <div class="row g-4">
            {% for plato in platos %}
                <div class="col-md-4">
                    <div class="card shadow h-100">
                        <img src="{{ plato.imagen }}" class="card-img-top imagen-ajustada" alt="{{ plato.nombre }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ plato.nombre }}</h5>
                            <p class="card-text">{{ plato.descripcion }}</p>
                            <p class="text-danger fw-bold">Precio: ${{ plato.precio }}</p>

                            <!-- Botones de acción -->
                            <div class="d-flex justify-content-around mt-3">
                                <a href="{% url 'editar_plato' plato.id %}" class="btn btn-sm">Modificar</a>
                                <a href="{% url 'eliminar_plato' plato.id %}" class="btn btn-sm">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay platos disponibles.</p>
            {% endfor %}
        </div>

    </div>


</div>



{% include "footer.html" %}

</body>
</html>