<!DOCTYPE html>
<html lang="es" xmlns:max-width="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Tu Pedido</title>
    <link rel="stylesheet" href="{% static 'css/pagina_principalss.css' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% include "navbar.html" %}
<div class="container-sm my-5 py-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center">Tu pedido</h5>
            <hr>
            <p class="mb-2">Número de pedido 12</p>

            <div class="table-responsive-sm">
                <table class="table table-borderless">
                    <thead class="fw-bold">
                    <tr>
                        <td>UD</td>
                        <td>ARTÍCULOS</td>
                        <td class="text-end">PRECIO</td>
                        <td class="text-end">TOTAL</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2</td>
                        <td>Edamame</td>
                        <td class="text-end">4,50</td>
                        <td class="text-end">9</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-between mt-5">
                <p class="fw-bold">Precio total</p>
                <p class="fw-bold">9€</p>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>